// Custom styles.

// 18.2.4
body{
	background:url(/images/background.jpg);
	background-repeat:no-repeat;  
    background-position:center center;  
    background-size:cover;
	background-attachment:fixed;
}
// 页面最顶部的横线
//不知道怎么修改颜色
.headband {
    height: 1.5px;
    background-image: linear-gradient(90deg, #7cafca 50%, #94b3cc 82%, #eeeeee 100%);
};

// 页面顶部行高
.header {
    line-height: 1.5;
}

// 页面背景色
.container {
    background-color: rgba(34, 40, 49, 0.2);
}

// 页面留白更改
.header-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}
.posts-expand {
    padding-top: 50px;
}
.posts-expand .post-meta {
    margin: 5px 0px 0px 0px;
}
.post-button {
    margin-top: 0px;
}

// 顶栏宽度
.container .header-inner {
    width: 100%;
}
// 渐变菜带
.site-meta {
    background-image: linear-gradient(#587ead 20%, #7d9ebc 50%, #86a8c1 100%);
    opacity:0.9;
}
// 站点名背景
.brand{
    background-color: rgba(238, 238, 238, 0);
    margin-top: 15px;
    padding: 0px;
}
// 站点名字体
.site-title {
    font-size: 35px;
    font-weight: 200;
    color: rgb(238, 238, 238, 1);
    line-height: 80px;
    letter-spacing: 3px;
}

// 站点子标题
.site-subtitle{ 
    margin: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 3px;
    font-weight: 200;
    color: rgb(238, 238, 238, 1);
//    border-bottom-width: 3px;
//    border-bottom-style: solid;
//    border-bottom-color: rgb(161, 102, 171);
}

// 菜单
.menu {
    text-align: center;
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    background-image: linear-gradient(#86a8c1 40%,#adc4cc 90%, #d3d4d4 100%);
    opacity:0.9;
}
// 菜单超链接字体大小
.menu .menu-item a {
	padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
    color: rgba(238, 238, 238, 1);
}
// 菜单各项边距
.menu .menu-item {
    margin: 5px 5px;
}
// 菜单超链接样式
.menu .menu-item a:hover {
	color: rgba(85, 85, 85, 1);
    border-bottom-color: rgba(0, 0, 0, 0);
}

// 文章
.post {
    margin-bottom: 50px;
    padding: 30px 20px 5px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(238, 238, 238, 1);
}

// 文章标题字体
.posts-expand .post-title {
    font-size: 26px;
    font-weight: 700;
}
// 文章标题动态效果
.posts-expand .post-title-link::before {
    background-image: linear-gradient(90deg, #a166ab 0%, #555555 0%);
    opacity:0.8;
}

// 文章元数据（meta）留白更改
.posts-expand .post-meta {
    margin: 10px 0px 20px 0px;
}

/*
// 文章的描述description
.posts-expand .post-meta .post-description {
    font-style: italic;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #666;
}
*/

// [Read More]按钮样式
.post-button {
	text-align: -webkit-right;
}
.post-button .btn {
    color: rgb(85, 85, 85, 1) !important;
    background-color: rgb(238, 238, 238, 1);
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    border: none !important;
    padding: 0px 0px;
    margin: 10px 0px 0px 0px;
}
.post-button .btn:hover {
    color: rgba(85, 85, 85, 0.2);
    font-size: 15px;
    font-weight: bold;
}

// 去除在页面文章之间的分割线
.posts-expand .post-eof {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
}

// 去除页面底部页码上面的横线
.pagination {
    border: none;
    margin: 0px;
}

// 页面底部页码
.pagination .page-number.current {
	color: #555;
	font-weight: 700;
    font-size: 18px;
    background-color: rgba(85, 85, 85, 0);
}
.pagination .prev, .pagination .next, .pagination .page-number {
    margin-bottom: 0px;
    font-size: 18px;
    border: none;
}
@media (max-width: 767px) {
    .pagination .page-number {
        padding: 0px 10px 20px 10px;
    }
}

.pagination .space {
    color: rgb(255, 255, 255);
}

// 页面底部页脚
.footer {
    line-height: 1.25;
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: rgba(134, 168, 193, 0);
    
    box-shadow: inset 13px 8px 10px 0 rgba(0,0,0,0.15);
}

// 文章底部的tags
.posts-expand .post-tags a {
    border-bottom: none;
    margin-right: 0px;
    font-size: 13px;
    padding: 0px 5px;
    border-radius: 3px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.posts-expand .post-tags a:hover {
    background: #eee;
}

// 文章底部留白更改
.post-widgets {
    padding-top: 0px;
}
.post-nav {
    margin-top: 30px;
}

// 文章底部页面跳转
.post-nav-item a {
    color: rgb(80, 115, 184);
    font-weight: bold;
}
.post-nav-item a:hover {
    color: rgb(85, 85, 85);
    font-weight: bold;
}

// 文章底部评论
.comments {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    margin: 80px 0px 40px 0px;
}

// 超链接样式
a {
    color: rgba(80, 115, 184, 1);
	border-bottom-color: rgba(80, 115, 184, 0);
}
a:hover {
    color: rgba(57, 62, 70, 1);
    font-weight: bold;
	border-bottom-color: rgba(57, 62, 70, 0);
}

// 分割线样式
hr {
    margin: 10px 0px 30px 0px;
}

// 文章内标题样式（左边的竖线）
/*.post-body h2, h3, h4, h5, h6 {
    border-left: 4px solid rgb(161, 102, 171);
    margin-left: -10px;
    padding-left: 10px;
}*/

// 去掉图片边框
.posts-expand .post-body img {
    border: none;
    padding: 0px;
}
.post-gallery .post-gallery-img img {
    padding: 3px;
}

// 文章``代码块的自定义样式
code {
    margin: 0px 4px;
}

// 文章```代码块顶部样式
.highlight figcaption {
    margin: 0em;
    padding: 0.5em;
    background: #eee;
    border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption a {
    color: rgb(80, 115, 184);
}

// 文章```代码块diff样式
pre .addition {
    background: #e6ffed;
}
pre .deletion {
    background: #ffeef0;
}

// 右下角侧栏按钮样式
.sidebar-toggle {
    right: 10px;
    bottom: 43px;
    background-color: rgba(86, 122, 166, 0.75);
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.page-post-detail .sidebar-toggle-line {
    background: rgb(7, 179, 155);
}

// 右下角返回顶部按钮样式
.back-to-top {
    line-height: 1.5;
    right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: rgba(86, 122, 166, 0.75);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.back-to-top.back-to-top-on {
    bottom: 10px;
}

// 侧栏
.sidebar {
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
}

// 时间轴样式
.posts-collapse {
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1023px) {
    .posts-collapse {
        margin: 0px 0px 20px 0px;
    }
}

// 自己对归档的修改，出现别的bug，删掉
.posts-collapse .post{
    margin: 0px;
    box-shadow: none;
}
.posts-collapse .post-title{
    margin: 0px;
    padding-left: 70px;
}
.posts-collapse .post.post-type-normal{
    padding: 0px;
}

.posts-collapse .collection-title{
    margin: 0px;
}
@media (max-width: 767px) {
    .posts-collapse .post {
        margin: 0px !important;
        padding: 0px !important;
    }
}
// 时间轴左边线条
.posts-collapse::after {
    top: 22px;
    width: 4px;
    height: 94%;
    margin-left: -2px;
    background-image: linear-gradient(#96c2cf 100%);
}

// 时间轴左边线条圆点颜色
.posts-collapse .collection-title::before {
    background-color: rgba(255, 255, 255,1);
}

// 时间轴文章标题左边圆点颜色
.posts-collapse .post-header:hover::before {
    background-color: rgb(85, 85, 85);
}

// 时间轴年份
.posts-collapse .collection-title h1, .posts-collapse .collection-title h2 {
	padding: 0px, 0px, 0px, 0px;
    color: rgb(255, 255, 255);
}


// 时间轴文章标题
.posts-collapse .post-title a {
    color: rgb(80, 115, 184);
}
.posts-collapse .post-title a:hover {
    color: rgb(85,85,85);
}

// 时间轴文章标题底部虚线
.posts-collapse .post-header:hover {
    border-bottom-color: rgbs(161, 102, 171,0);
}

// archives页面顶部文字
.page-archive .archive-page-counter {
    color: rgba(255, 255, 255,0);
}

// archives页面时间轴左边线条第一个圆点颜色
.page-archive .posts-collapse .archive-move-on {
    top: 10px;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
// 分类页面
.post-block.page {
    margin-top: 40px;
}
.category-all-page {
    margin: -80px 50px 40px 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    padding: 86px 36px 36px 36px;
}
@media (max-width: 767px) {
    .category-all-page {
        margin: -73px 15px 50px 15px;
    }
    .category-all-page .category-all-title {
        margin-top: -5px;
    }
}

//link

.post-block.page{
    margin-bottom: 50px;
    padding: 30px 20px 5px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(238, 238, 238, 1);
}

// 标签云页面
.tag-cloud {
    margin: -80px 50px 40px 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    padding: 86px 36px 36px 36px;
}
.tag-cloud-title {
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .tag-cloud {
        margin: -73px 15px 50px 15px;
        padding: 86px 5px 36px 5px;
    }
}

// 自定义ABOUT页面的样式
.about-page {
    margin: -80px 0px 60px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    padding: 106px 36px 36px 36px;
}
@media (max-width: 767px) {
    .about-page {
        margin: -73px 0px 50px 0px;
        padding: 96px 15px 20px 15px;
    }
}
h2.about-title {
    border-left: none !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    background-image: linear-gradient(90deg, #a166ab 0%, #a166ab 40%, #ef4e7b 45%, #f37055 50%, #ef4e7b 55%, #a166ab 60%, #a166ab 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

// 本地搜索框
.local-search-popup .search-icon, .local-search-popup .popup-btn-close {
    color: rgb(247, 149, 51);
    margin-top: 7px;
}
.local-search-popup .local-search-input-wrapper input {
    padding: 9px 0px;
    height: 21px;
    background-color: rgb(255, 255, 255);
}
.local-search-popup .popup-btn-close {
    border-left: none;
}

@media (max-width: 767px) {
    .local-search-popup .search-icon, .local-search-popup .popup-btn-close {
        color: rgb(247, 149, 51);
        margin-top: 7px;
    }
    .local-search-popup .local-search-input-wrapper input {
        padding: 9px 0px;
        height: 21px;
        background-color: rgb(255, 255, 255);
    }
    .local-search-popup .popup-btn-close {
        border-left: none;
    }
}

// 选中文字部分的样式
::selection {
    background-color: rgb(255, 241, 89);
    color: #555;
}

/* 设置滚动条的样式 */
/* 参考https://segmentfault.com/a/1190000003708894 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    background: #eee;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(86, 122, 166);
}

/*
// 音乐播放器aplayer
.aplayer {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STHeiti, "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", sans-serif !important;
}
.aplayer-withlrc.aplayer .aplayer-info {
    background-color: rgb(255, 255, 255);
}
// 音乐播放器aplayer歌单
.aplayer .aplayer-list ol {
    background-color: rgb(255, 255, 255);
}
// 修视频播放器dplayer页面全屏的bug
.use-motion .post-body {
    transform: inherit !important;
}
*/

// 自定义emoji样式
img#github-emoji {
    margin: 0px;
    padding: 0px;
    display: inline !important;
    vertical-align: text-bottom;
    border: none;
    cursor: text;
    box-shadow: none;
}
// 文章超链接样式（为emoji特设）
.post-body a {
    color: rgb(80, 115, 184);
    border-bottom: none;
}
.post-body a:hover {
    color: rgb(85, 85, 85);
    border-bottom: none;
}
// 标签云页面超链接样式（为emoji特设）
.tag-cloud a {
    border-bottom: 1px solid rgb(80, 115, 184);
    text-decoration: none;
}
.tag-cloud a:hover {
    border-bottom: 1px solid rgb(85, 85, 85);
    text-decoration: none;
}
// 文章元数据中categories的样式（为emoji特设）
a.categories {
    color: rgb(80, 115, 184);
    border-bottom: none;
}
a.categories:hover {
    color: rgb(85, 85, 85);
    border-bottom: none;
}
// tabs标签（为emoji特设）
.post-body .tabs ul.nav-tabs li.tab a {
    text-decoration: none;
}
// 图片下方标题设置（为emoji特设）
a.fancybox{
    text-decoration: none !important;
}
// 按钮样式（为emoji特设）
.btn {
    color: #fff !important;
    text-decoration: none !important;
    border: 2px solid #222 !important;
}
.btn:hover {
    color: #222 !important;
}

// 自定义的侧栏时间样式
#days {
    display: block;
    color: #555;
    font-size: 13px;
    font-weight: 700;
}

// 移动端样式
@media (max-width: 767px) {
    .container {
        background-color: rgba(0, 0, 0, 0);
    }
    .sidebar {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .feed-link {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .main {
        padding-bottom: 85px;
    }
    .posts-expand {
        margin: 0px;
        padding-top: 30px;
    }
    .posts-expand .post-title {
        font-size: 20px;
    }
    .posts-expand .post-meta {
        font-size: 10px;
    }
    .post {
        margin-bottom: 30px !important;
        padding: 20px 15px 15px 15px !important;
    }
    .post-body h2, h3, h4, h5, h6 {
        margin-left: -15px;
        padding-left: 11px;
    }
    .post-body h2{
        font-size: 18px;
    }
    .post-body h3{
        font-size: 16px;
    }
    .post-body h4{
        font-size: 14px;
    }
    .posts-expand .post-tags {
        margin-top: 10px;
    }
    .post-widgets {
        margin-top: 10px;
    }
    .comments {
        margin: 40px 0px 40px 0px !important;
    }
    .footer {
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    }
}
.sidebar-active #sidebar-dimmer {
    opacity: 0;
}
// 移动端左上角菜单按钮
.site-nav-toggle {
    top: 35px;
    left: 10px;
}
.btn-bar {
    background-color: rgb(255, 255, 255);
}
// 移动端菜单
@media (max-width: 767px) {
    .menu {
        text-align: center;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .site-nav {
        top: initial;
        background-color: rgba(255, 255, 255, 0.75);
        border-top: none;
        border-bottom: none;
        position: relative;
        z-index: 1024;
    }
}
// 移动端顶部
@media (max-width: 767px) {
    .site-title {
        font-size: 30px !important;
        letter-spacing: 0px !important;
    }
    .site-subtitle{ 
        letter-spacing: 0px !important;
        padding-bottom: 0px !important;
    }
    .site-meta {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .menu .menu-item {
        margin: 0px 10px !important;
    }
}
